/*
COLORES
amarillo: #FEF200
azul: #00ADEF
blanco: white

FONTS
font-family: 'Abel', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Livvic', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* CSS variables */
:root{
    /* font family */
    --Abel:'Abel',cursive;
    --Anton: 'Anton', sans-serif;
    --Josefin: 'Josefin Sans', sans-serif;
    --Lexend: 'Lexend Deca', sans-serif;
    --Livvic: 'Livvic', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --fredoka: 'Fredoka One', cursive;
    --varela: 'Varela Round', sans-serif;

    /* colores */
    --principal: #FEF200;
    --secundario: #00ADEF;
    --gradiente-azul: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --gradiente-amarillo: linear-gradient(to right, #e0d502 0%,  #FEF200 100%);
    --texto-gris: grey;
}

*{
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* ---------- Clases Globales ---------- */

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-family: var(--Roboto);
    font-size: 3.5rem;
}

h2{
    font-family: var(--Livvic);
    font-size: 1.3rem;
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

.btn{
    border: none;
    border-radius: 40px 0px 40px 0px;
    padding: 1rem 5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: var(--Roboto);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container{
    margin: 0px 5vh;
}

.text-gris{
    color: var(--texto-gris);
}

p{
    font-family: var(--Lexend);
    color: var(--texto-gris);
}

.hoy{
    background: none !important;
    background-image: var(--gradiente-amarillo) !important;
    transform: scale(1.1);
    color: var(--secundario) !important;

}

.img-footer{
    width: 80%;
    height: auto;
    border-radius: 20px 0px 20px 0px;
}

.mapa{
    border-radius: 40px 0px 40px 0px;
}

/* ---------- /Clases Globales ---------- */

/* ------ Navbar ------ */
.nav{
    background: var(--principal);
    height: 0rem;
    min-height: 90px;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem .5rem;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 2.2rem;
    color: var(--secundario);
}

.collapse{
    height: 50rem;
}

.nav .nav-items{
    display: flex;
    margin: 0px;
}

.nav .nav-items .nav-link{
    font-size: 1.4rem;
    position: relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link a{
    display: block;
    padding: 2.3rem 1rem;
}

.nav .nav-items .nav-link:hover{
    background: var(--secundario);
}

.nav .nav-items .nav-link:hover a{
    color: white;
    width: 100%;
}

.nav .nav-brand a{
    display: block;
    font-family: var(--fredoka);
    color: var(--secundario);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    width: 30%;
}

.nav .nav-brand a img{
    width: 100%;
    margin-top: 12px;
    margin-left: 3px;
}


.nav .social{
    padding: 2.2rem 12rem;
}

.nav .social i{
    padding: 0 .3rem;
    font-size: 2rem;
    color: var(--secundario);
}

.nav .social i:hover{
    color: skyblue;
}
/* ------ /Navbar ------ */



/* FOOTER */
.footer{
    height: 100%;
    background: black;
    position: relative;
}

.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

.footer .container div h2{
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.footer .container .sociales{
    margin-left: 80px;
}

.footer .container .sociales .links{
    display: flex;
    flex-direction: column;
}

.footer .container .sociales .links .footer-link{
    color: white;
    background: var(--gradiente-azul);
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    margin-bottom: 44px;
    border-radius: 20px 0px 20px 0px;
    transition: all 1s ease;
}

.footer .container .sociales .links .footer-link:hover{
    color: var(--secundario);
    background: var(--gradiente-amarillo);
}

.footer .caption{
    text-align: center;
    font-size: 10px;
}

/* /FOOTER */





/* ------------ MEDIAQUERYS ------------ */
@media only screen and (max-width: 1746px){
    .nav .social{
        padding: 2.2rem 1rem;
    }
    .nav .nav-brand{
        width: 40%;
        margin-right: -300px;
    }

}


@media only screen and (max-width: 1024px){
    main .contenido-sitio .post-contenido > .post-imagen .post-info{
        left: 19vw;
    }
    .contenido-sitio > .sidebar .fechas-importantes .lista-items{
        width: 100%;
    }
    
}

@media only screen and (max-width: 872px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}

@media only screen and (max-width: 768px){
    main .blog{
        display: none;
    }

    main .contenido-sitio{
        grid-template-columns: 100%;
    }

    main .contenido-sitio .post-contenido > .post-imagen .post-info{
        left: 25vw;
    }

    .footer .container{
        grid-template-columns: 1fr;
    }

    .footer .container .sociales{
        margin-left: 0px;
    }

    .mapa{
        width: 100%;
    }

    .img-footer{
        width: 100%;
    }


}

@media only screen and (max-width:425px){
    main .titulo-sitio{
        background: none;
        
    }
    main .titulo-sitio .hero-background{
        width: 100%;
        color: black;
        padding: 0px;
        margin-top: 16rem;
    }

    main .contenido-sitio .post-contenido > .post-imagen .post-info{
        display: none;
    }
    .nav .nav-brand{
        width: 100%;
    }
}

/* ------------ /MEDIAQUERYS -----------*/


