:root{
    /* font family */
    --Abel:'Abel',cursive;
    --Anton: 'Anton', sans-serif;
    --Josefin: 'Josefin Sans', sans-serif;
    --Lexend: 'Lexend Deca', sans-serif;
    --Livvic: 'Livvic', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --fredoka: 'Fredoka One', cursive;
    --varela: 'Varela Round', sans-serif;

    /* colores */
    --principal: #FEF200;
    --secundario: #00ADEF;
    --gradiente-azul: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --gradiente-amarillo: linear-gradient(to right, #e0d502 0%,  #FEF200 100%);
    --texto-gris: grey;
}

.contenedor-detalle-blog{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.detalle-blog-header{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 10px;

}

.detalle-blog-header .titulo-subtitulo{
    display: grid;
    left: 25vw;
    z-index: 100;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    align-items: center;
    margin-bottom: 120px;
    padding: 100px;
}

.detalle-blog-header .titulo-subtitulo h1{
    color: white;
    font-size: 5.5rem;
}

.detalle-blog-header .titulo-subtitulo h3{
    color: white;
    font-size: 40px;
    text-align: center;
}


.detalle-blog-header .autor-fecha{
    display: flex;
    justify-content: center;
    z-index: 100;
}

.detalle-blog-header .autor-fecha .autor{
    margin-right: 50px;
    color: white;
}

.detalle-blog-header .autor-fecha .fecha{
    color: white;
}


.contenido-detalle{
    display: grid;
    grid-gap: 50px;
}

.contenido-detalle .detalle-blog-body{
    display: grid;
    grid-template-columns: 80% 20%;
}

.contenido-detalle .detalle-blog-body .autor-descripcion{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 4px solid var(--secundario);
    border-radius: 40px 0px;
    max-height: 500px;
    box-shadow: 2px 2px 5px grey;
}

.contenido-detalle .detalle-blog-body .autor-historia{
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    font-family: var(--Roboto);
}

.contenido-detalle .detalle-blog-body img{
    width: 150px;
    border-radius: 100%;
}

.contenido-detalle .compartir-redes-sociales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.contenido-detalle .compartir-redes-sociales a{
    background-image: var(--gradiente-azul);
    display: flex;
    border-radius: 20px 0px 20px 0px;
    width: 100%;
    transition: all 1s;
    padding: 30px;
    font-size: 25px;
    color: white;
}

.contenido-detalle .compartir-redes-sociales a i{
    margin-right: 20px;
}


.contenido-detalle .compartir-redes-sociales a:hover {
    background-image: var(--gradiente-amarillo);
    color: var(--secundario);
}


.etiquetas{
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: var(--secundario);
    padding: 10px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px 0px;
}

.etiquetas .tags{
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--Roboto);
    text-align: center;
}

.etiquetas ul{
    display: flex;
    text-align: center;
}

.etiquetas ul li a{
    font-size: 20px;
    margin-right: 40px;
    text-transform: capitalize;
    text-align: center;
}

.etiquetas ul li a:hover{
    color: var(--principal);
}


/* Media Querys */

@media screen and (max-width: 1024px){
    .detalle-blog-header .titulo-subtitulo{
        padding: 40px;
    }

    .contenido-detalle .detalle-blog-body{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor-detalle .detalle-blog-body .autor-descripcion{
        justify-content: center;
    }

    .detalle-blog-header .titulo-subtitulo h1{
        font-size: 4rem;
    }

    .detalle-blog-header .autor-fecha{
        left: 20%;
    }

    .contenido-detalle .compartir-redes-sociales a{
        padding: 20px;
        font-size: 17px;
    }
}

/* vista tablet */
@media screen and (max-width: 768px){
    .detalle-blog-header .titulo-subtitulo h1{
        font-size: 3rem;
    }

    .contenido-detalle .detalle-blog-body{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor-detalle .detalle-blog-body .autor-descripcion{
        justify-content: center;
    }

    .detalle-blog-header .autor-fecha{
        left: 14%;
    }

    .detalle-blog-header .autor-fecha .autor{
        margin-right: 12px;
    }

    .contenido-detalle .compartir-redes-sociales a{
        padding: 40px;
        font-size: 30px;
    }

    .contenido-detalle .compartir-redes-sociales{
        grid-template-columns: 1fr;
    }
}







/* vista Celular grande */
@media screen and (max-width: 425px){

    .detalle-blog-header .titulo-subtitulo h1{
        font-size: 3rem;
    }

    .detalle-blog-header .titulo-subtitulo h3{
        font-size: 1.4rem;
        text-align: center;
    }

    .detalle-blog-header .autor-fecha .autor{
        margin-right: 12px;
    }
    
    .contenido-detalle .detalle-blog-body{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contenedor-detalle .detalle-blog-body .autor-descripcion{
        justify-content: center;
    }

    .contenido-detalle .compartir-redes-sociales a{
        padding: 20px;
        font-size: 20px;
    }

    .contenido-detalle .compartir-redes-sociales{
        grid-template-columns: 1fr;
    }


}

/* vista Celular mediano */
@media screen and (max-width: 375px){

    .detalle-blog-header .titulo-subtitulo{
        padding: 1px;
    }

    .detalle-blog-header .titulo-subtitulo h1{
        font-size: 3rem;
    }

    .detalle-blog-header .titulo-subtitulo h3{
        font-size: 1.3rem;
        text-align: center;
    }

}

/* vista Celular chico */
@media screen and (max-width: 320px){
    .detalle-blog-header .titulo-subtitulo{
        left: 15%;
    }

    .detalle-blog-header .titulo-subtitulo h1{
        font-size: 1.2rem;
    }

    .detalle-blog-header .titulo-subtitulo h3{
        font-size: 1rem;
    }

}