{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/detail-blog.css' %}">
{% endblock custom_styles %}

{% block content %}


  	<div class="contenedor-detalle-blog">
		{% for blog in blogs %}
			<div class="detalle-blog-header">
				<img src="{{ blog.imagen_blog }}">
				<div class="titulo-subtitulo">
				<h1>{{ blog.titulo_blog }}</h1>
				<h3>{{ blog.subtitulo_blog }}</h3>
				</div>
				<div class="autor-fecha">
				<p class="autor">Escrito por {{ blog.autor|capfirst }}</p>
				<p class="fecha">Publicado el {{ blog.fecha_publicacion }}</p>
				</div>
			</div>
		
			<div class="contenido-detalle">
				<div class="detalle-blog-body">
				{{ blog.contenido_blog|safe }}
				</div>
		
				<div class="compartir-redes-sociales">
				<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{{ request.get_full_path }}"><i class=" fab fa-facebook"></i>Compartir en Facebook</a>
				<a target="_blank" href="https://api.whatsapp.com/send?text=Mira%20este%20post%20en%20Jovenes40!%20https://{{ request.get_host }}{{ request.get_full_path }}"><i class="fab fa-whatsapp"></i>Compartir en WhatsApp</a>
				<a target="_blank" href="https://twitter.com/intent/tweet?text=&url={{ request.get_host }}{{ request.get_full_path }}"><i class="fab fa-twitter"></i>Compartir en Twitter</a>
				</div>
			</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}