{% extends 'base.html' %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/detail-blog.css' %}">


{% endblock custom_styles %}

{% block content %}
<div class="contenedor-detalle-blog">

	{% for noticia in noticias_especificas %}
	<style>
		.detalle-blog-header{
			background-image: linear-gradient(to right, rgba(0, 61, 165, 0.3),rgba(0, 61, 165, 0.3)),url('{{ noticia.imagen }}');
			background-repeat: no-repeat;
			background-size: cover;
			background-position-x: center;
			background-position-y: center;
		}
	</style>
	<div class="detalle-blog-header">
		<div class="titulo-subtitulo">
			<div></div>
			<div>
				<h1>{{noticia.titulo}}</h1>
				<h3>{{noticia.subtitulo}}</h3>
			</div>
			<div></div>
		  </div>

		  <div class="autor-fecha">
				<p class="autor">Escrito por {{noticia.autor.first_name|capfirst}}{{noticia.autor.last_name|capfirst}}</p>
				<p class="fecha">Publicado el {{ noticia.fecha }}</p>
		  </div>
	</div>

	<div class="contenido-detalle">
	  <div class="detalle-blog-body">
		<div class="contenido-blog">
			<div class="contenido">
				{{ noticia.contenido|safe }}
			</div>
			<div class="etiquetas">
				<div class="tags">etiquetas</div>
				<ul>
					<li><a href="#">General</a></li>
					<li><a href="#">opinion</a></li>
					<li><a href="#">Politica</a></li>
				</ul>
			</div>
		</div>

		<div class="autor-descripcion">
			<img src="img/captura_perfil.png">
			<div class="contenedor-redes">
				<span><a href="#">Facebook</a></span>
				<span><a href="#">Twitter</a></span>
				<span><a href="#">Instagram</a></span>
			</div>
			<div class="autor-historia">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui est amet in et saepe possimus provident enim numquam libero vitae a, sint ipsa ab beatae excepturi deserunt id laudantium veniam!
			</div>
		</div>


	  </div>

		<div class="compartir-redes-sociales">
			<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{{ request.get_full_path }}"><i class=" fab fa-facebook"></i>Compartir en Facebook</a>
			<a target="_blank" href="https://api.whatsapp.com/send?text=Mira%20este%20post%20en%20Jovenes40!%20https://{{ request.get_host }}{{ request.get_full_path }}"><i class="fab fa-whatsapp"></i>Compartir en WhatsApp</a>
			<a target="_blank" href="https://twitter.com/intent/tweet?text=&url={{ request.get_host }}{{ request.get_full_path }}"><i class="fab fa-twitter"></i>Compartir en Twitter</a>
		</div>
	</div>
	{% endfor %}

	</div>
		

</div>
{% endblock content %}